#history-of-philanthropy button,
#history-of-philanthropy header,
#history-of-philanthropy li,
#history-of-philanthropy ul {
	box-sizing : border-box;
}

.aural {
	height : 1px;
	left : -9999px;
	overflow : hidden;
	position : absolute;
	top : -9999px;
	width : 1px;
}

#history-of-philanthropy {
	font-family : sans-serif;
	max-width : 50em;
}

#history-of-philanthropy header {
	background-color : #000;
	border-bottom: .2em solid #fff;
	color : #e64343;
	padding : 1em 1.5em;
}

#timeline-heading {
	font-size : 1em;
	margin : 0;
	text-transform : uppercase;
}

.scroll-button {
	background-color : transparent;
	background-position : center center;
	background-repeat : no-repeat;
	background-size : contain;
	border : 0;
	cursor : pointer;
	display : block;
	font-size : 1em;
	height : 2.5em;
	outline : 0;
	width : 2.5em;
}

.scroll-button.disabled {
	opacity : .1;
}

#scroll-down {
	background-image : url( 'circled-arrow-down.png' );
}

#scroll-up {
	background-image : url( 'circled-arrow-up.png' );
	margin-bottom : .5em;
}

#timeline-entries-container {
	background-color : #222;
	position : relative;
}

#timeline-entries-container:before {
	content : '';
	display : block;
	padding-top : 60%;
}

#timeline-entries {
	bottom : 0;
	left : 0;
	list-style-type : none;
	margin : 0;
	overflow : hidden;
	padding : 0;
	position : absolute;
	right : 3em;
	top : 0;
}

#timeline-entries > li {
	background-position : center center;
	background-size : cover;
	height : 100%;
}

#timeline-entries ul {
	list-style-type : none;
	margin : 0;
	padding : 0;
}

.timeline-entry-year {
	color : #fff;
	font-size : 1.25em;
	padding : .25em .75em;
}

.timeline-entry-description {
	background-color : rgba( 256, 256, 256, 0.6 );
	font-size : .9em;
	padding : .5em .75em;
}

#timeline-entries-scroll-controls {
	bottom : 0;
	display : flex;
	flex-direction : column;
	justify-content : center;
	padding : 0 .2em;
	position : absolute;
	right : 0;
	top : 0;
}

#timeline-title {
	color : #fff;
	display : block;
	font-size : 1.15em;
}

@media only screen and ( min-width : 50em ) {
.scroll-button {
	height : 3.5em;
	width : 3.5em;
}

#timeline-entries {
	right : 4em;
}

.timeline-entry-description {
	font-size : 1em;
}

.timeline-entry-year {
	font-size : 1.5em;
}

#timeline-heading {
	font-size : 1.25em;
}
} /* end of min-width : 50em */
