/* Get some resets out of the way */
#history-of-philanthropy {
	line-height : 1.5;
}

#history-of-philanthropy button,
#history-of-philanthropy header,
#history-of-philanthropy h1,
#history-of-philanthropy li,
#history-of-philanthropy ul {
	box-sizing : border-box;
}

body.active-overlay {
	overflow : hidden;
}

.aural {
	height : 1px;
	left : -9999px;
	overflow : hidden;
	position : absolute;
	top : -9999px;
	width : 1px;
}

.control-panel-button {
	background-color : transparent;
	background-position : center center;
	background-repeat : no-repeat;
	background-size : contain;
	border : 0;
	cursor : pointer;
	display : block;
	font-size : 1em;
	height : 2.5em;
	margin : 0;
	outline : 0;
	width : 2.5em;
}

.control-panel-button.disabled {
	opacity : .1;
}

#history-of-philanthropy {
	font-family : sans-serif;
	max-width : 80em;
	width : 100%;
}

#history-of-philanthropy header {
	background-color : #000;
	border-bottom: .2em solid #fff;
	padding : .5em 1.5em;
}

#hop-lightbox-overlay {
	align-items : center;
	background-color : rgba( 50, 50, 50, .8 );
	bottom : 0;
	left : 0;
	display : none;
	justify-content : center;
	position : fixed;
	right : 0;
	top : 0;
	z-index : 10;
}

body.active-overlay #hop-lightbox-overlay {
	display : flex;
	opacity : 1.0;
}

#lightbox-toggle {
	background-size : 90%;
}

#lightbox-toggle.pop-out {
	background-image : url( pop-out-icon.png );
}

#lightbox-toggle.pop-in {
	background-image : url( pop-in-icon.png );
}

#timeline-heading {
	color : #e64343;
	font-size : 1em;
	font-weight : normal;
	line-height : 1.25;
	margin : 0;
	text-transform : uppercase;
}

#scroll-down {
	background-image : url( circled-arrow-down.png );
}

#scroll-up {
	background-image : url( circled-arrow-up.png );
	margin-bottom : .5em;
}

#timeline-entries-container {
	background-color : #222;
	position : relative;
}

#timeline-entries-container:before {
	content : '';
	display : block;
	padding-top : 60%;
}

#timeline-entries {
	bottom : 0;
	left : 0;
	list-style-type : none;
	margin : 0;
	overflow : hidden;
	padding : 0;
	position : absolute;
	right : 3em;
	top : 0;
}

#timeline-entries > li {
	background-position : center center;
	background-size : cover;
	height : 100%;
	overflow : auto;
}

#timeline-entries ul {
	list-style-type : none;
	margin : 0;
	padding : 0;
}

.timeline-entry-year {
	background-color : rgba( 0, 0, 0, 0.5 );
	color : #fff;
	font-size : 1.25em;
	padding : .25em .75em;
}

.timeline-entry-description {
	background-color : rgba( 256, 256, 256, 0.9 );
	font-size : .9em;
	overflow : auto;
	padding : .5em .75em;
}

#timeline-entries-control-panel {
	bottom : 0;
	display : flex;
	flex-direction : column;
	justify-content : flex-start;
	padding : 0 .2em;
	position : absolute;
	right : 0;
	top : 0;
}

#timeline-entries-control-panel-ancillary-controls {
	height : 20%;
}

#timeline-entries-scroll-controls {
	display : flex;
	flex-direction : column;
	height : 80%;
	justify-content : center;
}

#timeline-title {
	color : #fff;
	display : block;
	font-size : 1.15em;
}

@media only screen and ( min-width : 50em ) {
.control-panel-button {
	height : 3.5em;
	width : 3.5em;
}

#timeline-entries {
	right : 4em;
}

.timeline-entry-description {
	font-size : 1em;
}

.timeline-entry-year {
	font-size : 1.75em;
}

#timeline-heading {
	font-size : 1.5em;
}
} /* end of min-width : 50em */

@media only screen and ( min-width : 90em ) {
	#timeline-entries {
		font-size : 1.2em;
	}
} /* end of min-width : 90em
